body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.box {
    padding: 80px 30px;
    background-color: #1DE592;
    width: 450px;
    margin: auto;
    border-radius: 8px;
}

.box-title {
    word-wrap: break-word; 
    word-break: break-word;
}

.box-para {
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.box-button {
    border-radius: 20px;
    background-color: white;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 10px;

}

.box-2 {
    width: 500px;
    margin: auto;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.container-1 {
    padding: 20px;
}

.box-2-para {
    color: #777B7E;
}

.img-container {
    padding: 20px;
} 

.box-2-image-1, .box-2-image-2 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.box-2-image-1 {
    margin-left: 30px
}

.box-2-image-2 {
    margin-left: 50px;
}

.profiles {
    border-top: 1px solid lightgray;
    box-sizing: border-box;
}

.profiles, a {
    padding: 20px 10px;
    color: #287AE9;
    cursor: pointer;
    font-weight: bold;
}

.box-3 {
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 460px;
    margin: auto;

}

.box-3-image {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 250px;
}

.container {
    padding: 20px;
}

.lock-image {
    height: 20px;
    width: 20px;
}

.box-3 span {
   
}

.subscribe {
    display: inline;
    color: #5F6367;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 10px;
}

.box-3-title {
    font-weight: 600px;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 32px;
}

.box-3-para {
    color: #5F6367;
    font-size: 18px;
    line-height: 24px;
}

.details-button {
    background-color: transparent;
    color: #287AE9;
    border: 1px solid lightgray;
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;

}

.box-4 {
    text-align: center;
}

.input-box {
    /* display: block; */
    padding: 10px 20px;
    border: 1px solid lightgray !important;
    width: 250px;
    margin-top: 10px;
    border-radius: 8px;

}

.login-button {
    background-color: black;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    border: none;


}

.sub-texts {
    color: #5F6367;
    margin-top: 10px;
    font-size: 12px;

}

.sub-texts a {
    color: #5F6367;
    padding: 0px;
    text-decoration: underline;
}

.forgot-password {
    color: #5F6367;
    text-decoration: underline;
    margin-top: 20px;
    font-size: 12px;
}